h2 {
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.2px;
}

.select-genres {
  text-align: left;
  padding-left: 20px;
  /* flex-grow: 2; */
  max-width: 20rem;
  min-width: 15rem;
  padding-right: 1rem;
  width: 15%;
}

#genres-list {
  list-style: none;
  text-align: left;
  padding: 0;
}

#genres-list li {
  display: block;
  font-size: 0.9rem;
  line-height: 2;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
  letter-spacing: 1.1px;
  cursor: pointer;
}

li img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: white;
  display: inline-block;
  margin-right: 10px;
}

.hide-genre {
  display: none;
}

@media screen and (max-width: 768px) {
  .select-genres {
    min-width: 100%;
    margin-top: 20px;
    position: absolute;
    z-index: 10;
    background-color: #1a202c;
    height: fit-content;
    overflow: hidden;
    /* padding-top: 10px ; */
    top: 6rem;
    text-align: center;

    ul {
      width: max-content;
      margin: auto;
    }

    h2 {
      font-size: 2.3rem;
    }
    span {
      font-size: 1.1rem;
      letter-spacing: 1.4px;
    }

    li{
      gap: 14px;
    }
  }
}
