#header {
  color: white;
}

.icon {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 1rem;
  width: 3rem;
  border-radius: 10px;
}

.theme-toggler {
  min-width: 10rem;
}

#header input:focus-visible && #header .chakra-icon {
  color: var(--gray-dark) !important;
}


#header input{
  padding: 0.5rem;
  padding-left: 3rem;
  width: 100%;
  margin-right: 1rem;
  letter-spacing: 1.5px;
}



input:active {
  padding:5rem;
}